################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/cmake-build-debug
!_deps
/out/build/*/Testing/Temporary
/out/build/*/test
/out/build/*/src
/out/build/*/lib
/out/build/*/CPM_modules
/out/build/*/CMakeFiles
/out/build/*/cmake
/out/build/*/bin
/out/build/*/.cmake/api/v1
/out/build/*/VSInheritEnvironments.txt
/out/build/*/cpm-package-lock.cmake
/out/build/*/cmake_install.cmake
/out/build/*/CMakeCache.txt
/out/build/*/build.ninja
/out/build/*/.ninja_log
/out/build/*/.ninja_deps
